<div class="container">


  <h1 style="color: blue;">welcome!</h1>
  
  {% if request.user.userprofile.isDriver %}
  <h1 style="color: blue;">Driver Yes</h1>
  <p>Don't want to be a driver any more?</p><a href="{% url 'driverCancel' %}">cancel now</a><br>
  <sub style="text-align: left;"><a href="{% url 'profile' %}" style="text-decoration: none; color: green; padding:2\ 
%; cursor:pointer; margin-right:2%;">driver profile page</a></sub><br>
  {% else %}
  <h1 style="color: blue;">Driver No</h1>
  <sub style="text-align: left;"><a href="{% url 'driver' %}" style="text-decoration: none; color: blue; padding:2\ 
								     %; cursor:pointer; margin-right:2%;">become a driver</a></sub>
  {% endif %}
  
  
  <sub style="text-align: left;"><a href="{% url 'logout' %}" style="text-decoration: none; color: blue; padding:2\
%; cursor:pointer; margin-right:2%;" name="logout">logout</a></sub>
   

  
  <sub style="text-align: left;"><a href="{% url 'ride_request' %}" STYLE="TEXT-DECORATION: NONE; COLOR: BLUE; PADDING:2\
%; CURSOR:POINTER; MARGIN-RIGHT:2%;">start your ride, send a ride request</a></sub>



<sub style="text-align: left;"><a href="{% url 'user_profile' %}" style="text-decoration: none; color: green; padding:2\ 
%; cursor:pointer; margin-right:2%;">user profile page</a></sub>
   

</div>

